body {
  font-family: Arial, sans-serif;
  background-color: #eaf2f8;
  text-align: center;
}

h1 {
  color: #2c3e50;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 40px;
  position: relative;
}

/* Coluna de imagens */
.coluna-imagens {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

/* Coluna de textos (ou dropzones) */
.coluna-textos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.dropzone {
  height: 120px; /* igual à altura da imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  border: 2px dashed #2c3e50;
  border-radius: 8px;
  min-width: 220px;

}

canvas#linhaCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}
